<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <title>{{.Title}}</title>
</head>
<body>
<section class="relative overflow-x-hidden">
    {{ partial "contact.html" . }}
    {{ partial "header/site-nav.html" . }}
    {{.Content}}
    <div class="container mt-30px">
        <h2>Techarge Blog</h2>
        <ul class="grid md:grid-cols-2 gap-30px mt-30px">
            {{range .Site.RegularPages}}
            <div>
                <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
                <p><a href="{{.Permalink}}">{{.Summary}}</a></p>
            </div>
            {{end}}
        </ul>
    </div>
    <div class="container grid gap-18px md:gap-21px lg:gap-85px grid-cols-1 lg:grid-cols-2 pt-90px md:pt-58px pb-48px md:pb-70px lg:pb-58px md:pr-270px lg:pr-0">
        {{ partial "subscribe.html" . }}
    </div>
    {{ partial "footer.html" . }}
</section>
</body>
</html>