<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <title>{{.Title}}</title>
</head>
<body>
<section class="relative overflow-x-hidden">
    {{ partial "contact.html" . }}
    {{ partial "cookie-banner.html" . }}
    {{ partial "header/site-nav.html" . }}
    {{.Content}}
    <div class="container mt-30px">
        <h1>Techarge Blog</h1>
        <a class="hover:text-tc-orange pt-20px ml-5px" href="/rss">View RSS Feed<img class="inline ml-2" alt="rss icon" src="/images/rss.png" width="15" height="15"></a>
        <ul class="grid md:grid-cols-2 gap-30px mt-30px">
            {{range .Pages}}
            <div class="bg-tc-green  hover:bg-tc-dark-green p-4 rounded-20px"><a href="{{.RelPermalink}}">

            <img src="{{ .Params.featured_image}}" alt="{{ .Params.featured_image_alt }}"></a>

                <h2 class="my-10px"><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
                <p class="my-10px"><a href="{{.RelPermalink}}">{{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th {{ end }}{{ .Date.Format "January 2006" }}</a></p>

<p class="text-14px"><a href="{{.RelPermalink}}">{{.Summary}}</a></p>
                <a href="{{.RelPermalink}}"><button class="button-medium float-right mt-10px"><img class="inline hover:animate-bookScale" alt="book icon" src="/images/book.svg" width="50" height="50"> Read</button></a>
            </div>
 {{end}}
        </ul>
    </div>
    <div class="container grid gap-18px md:gap-21px lg:gap-85px grid-cols-1 lg:grid-cols-2 pt-90px md:pt-58px pb-48px md:pb-70px lg:pb-58px md:pr-270px lg:pr-0">
        {{ partial "subscribe.html" . }}
    </div>
    {{ partial "footer.html" . }}
</section>
</body>
</html>