<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    <title>{{.Title}}</title>
</head>
<body>
<section class="relative overflow-x-hidden">
    {{ partial "contact.html" . }}
    {{ partial "cookie-banner.html" . }}
    {{ partial "header/site-nav.html" . }}
    {{.Content}}
    <div class="hidden sm:flex js-show-right absolute -right-10px lg:-right-180px top-214px">
        <div class="rounded-tl-130px lg:rounded-tl-50% w-210px h-239px lg:w-424px lg:h-481px bg-tc-grey absolute right-0 bottom-0">

        </div>
        <div class="rounded-bl-80px lg:rounded-bl-200px w-329px h-166px lg:w-662px lg:h-335px bg-tc-dark-green">

        </div>
    </div>
    <section class="bg-tc-green pb-120px">
        <div class="container pt-30px pl-8 relative top-50px md:top-30px ">
            <h1 class="text-tc-light-black relative z-3 text-45px xs:text-50px md:text-80px">Case</h1>
            <h1 class="text-tc-light-black ml-16 relative z-3 text-45px xs:text-50px md:text-80px">Studies</h1>
        </div>
    </section>
    <div class="container mt-30px relative">

        <div class="grid lg:grid-cols-3 md:grid-cols-2  gap-30px mt-100px md:-mt-100px">
            {{range .Pages }}
            <div class="rounded-20px"><a href="{{.RelPermalink}}">
               <img src="{{ .Params.featured_image}}" alt="{{ .Params.featured_image_alt }}">
            </a>
                <div class="border-tc-grey border-2 p-2 rounded-b-20px">
                    <h2 class="mb-10px"><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
                    <p class="my-10px"><a href="{{.RelPermalink}}">{{ .Date.Format "2" }}{{ if in (slice 1 21 31)
                        .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{
                        else }}th {{ end }}{{ .Date.Format "January 2006" }}</a></p>
                    <p class="text-14px"><a href="{{.RelPermalink}}">{{.Summary}}</a></p>
                </div>


            </div>
            {{end}}
        </div>
        <div class="container grid gap-18px md:gap-21px lg:gap-85px grid-cols-1 lg:grid-cols-2 pt-90px md:pt-58px pb-48px md:pb-70px lg:pb-58px md:pr-270px lg:pr-0">
            {{ partial "subscribe.html" . }}
        </div>
    </div>
    {{ partial "footer.html" . }}

</section>
</body>
</html>