<div class="bg-white fixed z-9 p-8 w-full cookie-container active">
  <p>
    We use cookies on this website to give you the best experience on our
    site and show you relevant ads. To find out more, read our
    <a class="text-josefin font-bold" href="/privacy-policy">privacy policy</a>.
  </p>
  <button class="cookie-btn button-small mt-10px w-full xs:w-auto">
    <p class="font-semibold">Accept all cookies</p>
  </button>
    <button class="text-tc-dark-grey disable-cookies-btn mt-10px xs:ml-20px w-full xs:w-auto">
   Reject cookies
  </button>
</div>
<head>
  {{ $cookie := resources.Get "js/cookiebanner.js" | js.Build | minify }}
<script defer async type="text/javascript"  src="{{ $cookie.RelPermalink }}"></script>
</head>