<div class="bg-white fixed z-9 p-8 w-full cookie-container active">
  <p>
    This website uses cookies to help the the website functionality and to track user interaction for later improvements.
    We assume you're okay with this, if not you have the option to opt-out below.
    <p class="my-10px">To find out more, read our
    <a class="text-josefin font-bold" href="/privacy-policy">privacy policy</a>.</p>
  </p>
  <button class="cookie-btn button-small mt-10px w-full xs:w-auto">
    <p class="font-semibold">Accept all cookies</p>
  </button>
    <button class="text-tc-dark-grey disable-cookies-btn mt-10px xs:ml-20px w-full xs:w-auto">
   Reject cookies
  </button>
</div>
<head>
  {{ $cookie := resources.Get "js/cookiebanner.js" | js.Build | minify }}
<script defer async type="text/javascript"  src="{{ $cookie.RelPermalink }}"></script>
</head>