<footer class="bg-tc-grey pt-75px pb-70px">
    <div class="container grid grid-cols-1 md:grid-cols-2">
    <div class="text-tc-dark-grey">
        <h3 class="mb-28px">Techarge Limited</h3>
        <p class="text-11px">Labs Triangle, Stables Market, Camden, London, NW1 8AB<br>
+44 789 495 9346<br>
            <a href="mailto:info@techarge.co.uk">info@techarge.co.uk</a><br>
            Copyright © Techarge. All Rights Reserved.</p>
</div>
        <div class="text-light-black flex-col items-end justify-around hidden md:flex">
            	<a href="#responsive-header" class="">
                    <p class="text-18px">Home</p>
			</a>
			<a href="#responsive-header" class="mt-30px">
				<p class="text-18px"> About</p>
			</a>
			<a href="#responsive-header" class="mt-30px">
                <p class="text-18px">Contact</p>
			</a>
        </div>
    </div>
</footer>



