<footer class="bg-tc-grey pt-75px pb-70px">
    <div class="container grid grid-cols-1 md:grid-cols-2">
        <div class="text-tc-light-black">
            <h3 class="mb-28px">Techarge Limited</h3>
            <p class="text-11px">
                <a href="https://goo.gl/maps/fNDersJHFG258ayd9">Labs Triangle, Stables Market, Camden, London, NW1 8AB</a><br>
                <a href="tel:+443301334400">+44 330 133 4400</a> <br>
                <a href="mailto:info@techarge.co.uk">info@techarge.co.uk</a><br>
                 Copyright © Techarge. All Rights Reserved.</p>
        </div>
        <div class="text-black flex-col items-end justify-around hidden md:flex">
            <a href="/" class="">
                <p class="text-18px">Home</p>
            </a>
            <a href="/about" class="mt-30px">
                <p class="text-18px"> About</p>
            </a>
            <a href="/contact" class="mt-30px">
                <p class="text-18px">Contact</p>
            </a>
        </div>
    </div>
</footer>



