<h3 class="flex">Subscribe to the latest tech trends</h3>
<form id="signup-form" class="subscribe">
<input type="email" id="signup-email" class="border-b border-tc-orange text-orange outline-none w-full h-26px placeholder-tc-orange"
       placeholder="your email">
 <p id="email-status"></p>
 <a onClick="subscribe()" id="signup-button" class="button-small mt-20px inline-flex hover:text-tc-orange">Sign up</a>
</form>
<script>
 function subscribe() {
  alert("clicked")
        const emailValue = document.querySelector('#signup-email').value;
  alert(emailValue)
        var mail_format = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        if (!mail_format.test(emailValue)) {
            document.getElementById("email-status").innerHTML = 'Please enter a valid email address.';
        } else {
            document.getElementById("email-status").innerHTML = 'Thanks for your email, we are adding you to our subscriptions.';
            var request = new XMLHttpRequest();
            request.open("GET", "https://5b4khg7nnk.execute-api.us-east-2.amazonaws.com/production", true);
            request.onload = function () {
                if (this.status >= 200 && this.status < 400) {
                    var result = this.response;
                    console.log("thank you for signing up!");
                    window.location.replace("/thanks.html");
                }
            }
            request.onerror = function (xhr, resp, text) {
                console.log("response:" + resp + " text:" + text);
            };
            request.send();
        }
    }
</script>
