<!DOCTYPE html>
<html lang="en">
<head>
    {{ partialCached "jslibs/alpinejs/script-src.html" "-" }}
    {{ partialCached "jslibs/turbolinks/script-src.html" "-" }}

    {{ partial "head.html" . }}
</head>
<body>
<section class="relative overflow-x-hidden">
    {{ partial "contact.html" . }}
    {{ partial "header/site-nav.html" . }}
    <div class="hidden md:flex js-show-left absolute top-90px md:top-214px -left-50px -left-100px">

        <div class="rounded-tr-80px md:rounded-tr-50px lg:rounded-tr-100px w-126px h-64px md:w-215px md:h-109px lg:w-382px lg:h-194px bg-tc-orange">

        </div>
        <div class="rounded-br-50% w-80px h-92px md:w-138px md:h-156px lg:w-245px lg:h-278px bg-tc-yellow absolute left-0 top-0">

        </div>
    </div>

    <div class="flex md:hidden js-show-right absolute mt-8 -right-80px xs:-right-0">

        <div class="rounded-tl-50px w-126px h-64px bg-tc-orange">

        </div>
        <div class="rounded-bl-50% w-80px h-92px bg-tc-yellow absolute right-0 top-0">

        </div>
    </div>
    <section
            class=" bg-tc-green pt-50px pb-100px sm:pb-85px md:pt-125px md:pb-75px lg:pt-120px lg:pb-120px overflow-hidden">

        <div class="container relative z-2">
            <h1 class="text-tc-light-black md:float-right md:pr-144px lg:pr-220px">About us</h1>
            <div class="float-right lg:w-8/12 md:mr-32 lg:mr-88 mt-50px">
                <p class=" lg:pl-28">With over 25 years experience delivering technology solutions in financial
                    services, healthcare and clean energy, our team specialises in delivering new software and web
                    applications.</p>


                <p class="mt-30px lg:pl-28">Our clients come to us when they have a critical problem technology can
                    solve, but aren't sure of
                    how to validate and build the best solution.
                    We help VC-backed start-ups and enterprise companies define and develop new software platforms and
                    applications, bringing clarity to complicated requirements and delivering tangible results.
                    We love taking on interesting, distributed solutions to scale up challenges and help our clients
                    tackle problems with innovative thinking, resulting in smart and iterative solutions.</p>
                <a class="mt-30px button-medium inline-block text-tc-orange float-right mr-10px" href="/contact">Contact
                    us</a>
            </div>
        </div>
        <div class="hidden md:flex js-show-right absolute z-3 -right-10px lg:-right-180px top-65vh mt-8 sm:top-725px md:top-680px lg:top-580px lg:top-650px md:mt-68 lg:mt-40">
            <div class="rounded-tl-80px md:rounded-tl-130px lg:rounded-tl-50% w-150px h-171px md:w-210px md:h-239px lg:w-316px lg:h-359px bg-tc-grey absolute right-0 bottom-0">

            </div>
            <div class="rounded-bl-50px md:rounded-bl-80px lg:rounded-bl-100px w-235px h-119px md:w-329px md:h-166px lg:w-494px lg:h-250px bg-tc-dark-green">

            </div>
        </div>

        <div class="hidden xs:flex md:hidden js-show-left absolute z-3 -left-50px xs:-left-10px top-700px mt-30vh xs:top-200 xs:mt-32 mi:top-160 mi:mt-32 sm:mt-8 sm:top-650px">
            <div class="rounded-tr-80px w-120px h-141px xs:w-150px xs:h-171px bg-tc-grey absolute left-0 bottom-0">

            </div>
            <div class="rounded-br-50px w-205px h-89px xs:w-235px xs:h-119px bg-tc-dark-green">

            </div>
        </div>

    </section>

    <section
            class="bg-white pt-100px xs:pt-80px sm:pt-150px pb-25px md:pt-130px md:pb-56px lg:pt-100px lg:pb-44px relative">
        <div class="container relative z-2">
            <div class="block md:hidden static bg-tc-green rounded-20px h-120px w-120px mb-30px p-10px md:p-15px lg:p-25px flex justify-center relative float-right sm:-top-140px">
                <img alt="mobile icon" src="/images/mobile.svg">
            </div>
            <div class="md:grid md:grid-cols-2 lg:pl-110px lg:w-3/ mb-50px lg:mb-168px">
                <div class="relative z-2">
                    <h3 class="mb-30px clear-both sm:clear-none">Unlock senior technology expertise, whenever you need
                        it</h3>
                    <p>New platforms and applications may be the outcome, but developing a deep understanding of the
                        problem is where we start. We treat every project as a collaborative effort and pride
                        ourselves on our communication,empathy and listening skills.</p>
                    <p class="mt-30px">
                        Our experts will act as on-demand CTOs, offering a holistic review of your existing technology
                        infrastructure. We will also work closely with your teams to select the right solutions and
                        develop a clear technology roadmap that supports your core business goals.</p></div>
                <div class="hidden md:block order-2 md:order-2 relative mt-65px h-355px lg:ml-75px ml-0px right-75px md:right-0">
                    <div class="battery bg-tc-grey rounded-7px lg:rounded-20px h-52px w-52px md:h-94px md:w-94px lg:w-115px lg:h-115px p-10px rounded-20px flex items-center justify-center relative z-10 top-30px left-24 lg:left-28 xl:left-60">
                        <img class="m-auto absolute" alt="battery icon" src="/images/battery.svg">
                         <img class=" hidden m-auto absolute animation-text-wipe animate-in" alt="charged battery icon" src="/images/battery charged.svg">
                    </div>
                    <div class="phone bg-tc-green rounded-20px h-72px w-72px md:h-130px md:w-130px lg:w-158px lg:h-158px p-10px md:p-15px lg:p-25px flex justify-center relative float-right">
                        <img class="absolute" alt="mobile icon" src="/images/phone 1.svg">
                          <img class="absolute hidden animation-left-reveal animate-in animation-delay-1" alt="mobile icon" src="/images/phone 2.svg">
                         <img class="absolute hidden animation-left-reveal animate-in animation-delay-9" alt="mobile icon" src="/images/phone 3.svg">
                        <img class="absolute hidden animation-fade-in animate-in" alt="mobile icon" src="/images/phone 4.svg">
                    </div>
                    <div class="compass bg-tc-grey rounded-20px h-82px w-82px md:h-150px md:w-150px lg:w-182px lg:h-182px p-10px lg:p-32px flex justify-center relative md:top-16 md:right-0 lg:right-350px xl:right-0 lg:top-350px xl:top-20 ">
                        <img class="absolute" alt="compass icon" src="/images/compass bottom.svg">
                        <img class="absolute compass-top" alt="compass icon" src="/images/compass top.svg">
                    </div>
                </div>
            </div>
            <div class="js-show-left absolute -left-10px sm:-left-100px md:-left-180px lg:-left-230px xl:-left-180px sm:top-500px md:top-800px lg:top-750px xl:top-550px">

                <div class="rounded-tr-80px md:rounded-tr-100px lg:rounded-tr-200px w-238px h-120px md:w-398px md:h-200px lg:w-662px lg:h-335px bg-tc-yellow">

                </div>
                <div class="rounded-br-50% w-152px h-173px md:w-255px md:h-289px lg:w-424px lg:h-481px bg-tc-green absolute left-0 top-0">

                </div>
            </div>
            <div class="relative z-2 float-right text-right lg:pl-110px lg:w-3/5 mb-50px md:mb-70px lg:mb-109px">
                <h3>Turn complexity into clear solutions</h3>
                <p>We start at the beginning and deeply engage with our clients to fully understand the problem. We look
                    for
                    the root cause, not the symptoms. This enables us to think innovatively about potential solutions
                    and come
                    up with robust technology implementations that actually deliver value.</p>
            </div>
        </div>
        <div class="container gap-10px md:gap-x-85px lg:gap-x-97px grid grid-cols-1 md:grid-cols-2">
            <div class="relative z-2 hidden md:block order-2 md:order-2 relative mt-65px h-355px lg:pl-110px ml-0px right-75px md:right-0">

                <h3 class="mb-15px md:mb-30px">Work with digital problem solvers</h3>
                <p>Success to us isn't just about clean code. We know the best outcomes are arrived at when developers
                    and technologists fully understand the human drivers behind new software products and applications.
                    Empathy is our core operating principle and quality we are proud of in all of our team members.</p>

            </div>
            <div class="md:order-2 col-span-2 md:col-span-1 lg:w-415px">
                <div class="hidden md:block bg-tc-grey rounded-7px lg:rounded-20px h-82px w-82px md:h-150px md:w-150px lg:w-182px lg:h-182px p-10px md:p-25px lg:p-32px flex relative z-10 top-30px left-24 lg:left-28 xl:left-60">
                    <img alt="mouse icon" src="/images/mouse.svg">
                </div>
                <div class="block md:hidden">
                    <h3 class=" mb-15px md:mb-30px">Work with digital problem solvers</h3>
                    <p>Success to us isn't just about clean code. We know the best outcomes are arrived at when
                        developers
                        and technologists fully understand the human drivers behind new software products and
                        applications.
                        Empathy is our core operating principle and quality we are proud of in all of our team
                        members.</p>
                </div>
            </div>
            <div class="md:flex md:order-3 col-span-2 mt-30px md:mt-80px">
                <aside class="relative md:top-20px flex justify-around md:inline-block mb-90px md:mb-0 md:pl-45px pt-45px-ml-20px -mr-20px md:mr-95px lg:mr-128px">
                    <div class="mr-20px">
                        <h4 class="whitespace-nowrap md:top-40px md:-ml-40px md:whitespace-nowrap md:origin-center md:transform md:-rotate-90 md:absolute md:left-0">
                            A member of</h4>
                        <img class="nominet w-116px h-110px" alt="nominet logo" src="/images/nominet.svg">
                    </div>
                    <div class="xs:flex md:hidden relative xs:left-30px md:left-0">
                        <div class=" compass bg-tc-orange rounded-20px h-129px w-129px flex justify-center items-center relative md:top-16 float-right">
                            <img class="absolute w-85px h-85px" alt="compass icon" src="/images/compass bottom.svg">
                            <img class="absolute compass-top w-85px h-85px" alt="compass icon" src="/images/compass top.svg">
                        </div>
                        <div class="xs:flex hidden  bg-tc-grey relative top-100px -left-180px rounded-20px h-82px w-82px md:h-150px md:w-150px lg:w-182px lg:h-182px p-10px md:p-25px lg:p-32px flex relative z-10 top-100px md:left-30px md:left-0 md:top-30px  md:left-24 lg:left-28 xl:left-60">
                            <img alt="mouse icon" src="/images/mouse.svg">
                        </div>
                    </div>
                </aside>
                <div class="relative grid grid-cols-1 md:flex items-end w-full">
                    <h4 class="md:top-60px md:-ml-40px md:whitespace-nowrap md:origin-center md:transform md:-rotate-90 md:absolute md:top-0 md:-left-20px">
                        Happy clients</h4>
                    <div class="md:relative md:top-3 inline-grid grid-cols-4 gap-18px md:gap-33px lg:gap-46px ml-10px md:ml-20px lg:ml-27px w-full">
                        <img class="" alt="Crown Commercial Serive Supplier logo" src="/images/CCS.svg">
                        <img class="" alt="EMSX logo" src="/images/emsx-logo.svg">
                        <img class="" alt="Felcana logo" src="/images/Felcana Logo.svg">
                        <img class="" alt="Sayso Medical logo" src="/images/Sayso Logo.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-tc-green pb-110px pt-35px md:pt-60px md:pb-75px lg:py-52px" id="team">
        <div class="container lg:px-50px">
            <h1 class="pb-10px md:pb-40px lg:pb-20px">Our team</h1>
            <div class="grid grid-cols-1 md:grid-cols-2  lg:grid-cols-4 xl:gap-75px md:gap-20px gap-25px">
                <div class="rounded-t-20px rounded-r-20px bg-tc-grey py-36px px-20px text-center h-fit-c">
                    <div class="bg-white xs:w-165px xs:h-165px rounded-full mb-13px md:mb-15px m-auto">
                        <img class="w-full sm:w-180px md:w-210px" alt="Techarge logo" src="/images/site.svg">
                    </div>
                    <h4 class="text-center">Ling Li</h4>
                    <p>Our team consists of UI experts, UX designers and full-stack developers. Drawing on their
                        expertise, we deliver a full range of development services across multiple frameworks and
                        languages.</p>

                </div>
                <div class="rounded-t-20px rounded-r-20px bg-tc-grey py-36px px-20px text-center h-fit-c">
                    <div class="bg-white xs:w-165px xs:h-165px rounded-full mb-13px md:mb-15px m-auto">
                        <img class="w-full sm:w-180px md:w-210px" alt="Techarge logo" src="/images/pingpong.svg">
                    </div>
                    <h4 class="text-center">Dominic</h4>
                    <p>Our consultants have worked at a CTO-level across multiple industries, managing the full
                        software-development lifecycle. Acting as a strategic advisor, we can help select the right
                        technologies and drive forward digital change.</p>

                </div>
                <div class="rounded-t-20px rounded-r-20px bg-tc-grey py-36px px-20px text-center h-fit-c">
                    <div class="bg-white xs:w-165px xs:h-165px rounded-full mb-13px md:mb-15px m-auto">
                        <img class="w-full sm:w-180px md:w-210px" alt="Techarge logo" src="/images/globe.svg">
                    </div>
                    <h4>Zoe</h4>
                    <p>We help companies unlock the power of their data by identifying, collecting and analysing key
                        data points from multiple sources. Leveraging powerful BI tools, we interpret and visualise
                        complex data streams, turning them into clear dashboards with actionable insights</p>
                </div>
                <div class="rounded-t-20px rounded-r-20px bg-tc-grey py-36px px-20px text-center h-fit-c">
                    <div class="bg-white xs:w-165px xs:h-165px rounded-full mb-13px md:mb-15px m-auto">
                        <img class="w-full sm:w-180px md:w-210px" alt="Techarge logo" src="/images/globe.svg">
                    </div>
                    <h4>Hamed</h4>
                    <p>We help companies unlock the power of their data by identifying, collecting and analysing key
                        data points from multiple sources. Leveraging powerful BI tools, we interpret and visualise
                        complex data streams, turning them into clear dashboards with actionable insights</p>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="bg-white md:mt-30px lg:mt-0">
        <div class="hidden md:flex lg:hidden js-show-right absolute -right-70px top-0px mt-14 md:mt-70px">
            <div class="rounded-tl-80px md:rounded-tl-130px w-146px h-166px md:w-210px md:h-238px bg-tc-grey absolute right-0 bottom-0">

            </div>
            <div class="rounded-bl-50px md:rounded-bl-80px w-229px h-115px md:w-329px md:h-166px bg-tc-orange">

            </div>
        </div>
        <div class="container grid gap-18px md:gap-21px lg:gap-85px grid-cols-1 lg:grid-cols-2 pt-90px md:pt-58px pb-48px md:pb-70px lg:pb-58px md:pr-270px lg:pr-0">
            {{ partial "subscribe.html" . }}
        </div>
    </section>
    {{ partial "footer.html" . }}
</section>
<script>
    const callback = function (entries) {
        entries.forEach((entry) => {

            if (entry.isIntersecting) {
                entry.target.classList.remove("opacity-0");
                entry.target.classList.add("animate-slideInFromRight");
                entry.target.classList.add("opacity-1");

            }
        });
    };

    const observer = new IntersectionObserver(callback);

    const targets = document.querySelectorAll(".js-show-right");
    targets.forEach(function (target) {
        target.classList.add("opacity-0");
        observer.observe(target);
    });


    const callback2 = function (entries2) {
        entries2.forEach((entry2) => {

            if (entry2.isIntersecting) {
                entry2.target.classList.remove("opacity-0");
                entry2.target.classList.add("animate-slideInFromLeft");
                entry2.target.classList.add("opacity-1");

            }
        });
    };

    const observer2 = new IntersectionObserver(callback2);

    const targets2 = document.querySelectorAll(".js-show-left");
    targets2.forEach(function (target2) {
        target2.classList.add("opacity-0");
        observer2.observe(target2);
    });

</script>
</body>
</html>